
		body {
			background-color: #282923;
			font-family: "Courier New", Times, serif;
		}

		.white { color: #FFFFFF; }
		.pink { color: #F9245B; }
		.yellow { color: #E7C450; }
		.green { color: #9AD12A; }
	
